<!DOCTYPE html>
<html lang="en">
<head>
<!--     <link rel="stylesheet" href="/css/index.css">
 -->    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/index.css">
    <title>Request </title>
</head>
<body class="flex">
   <!--------------------------Header---------------------------->
   <div class="header flex">
     <h1>Request</h1>
       <hr/>
     <div class="btn-header flex">
        <button class="h-btn" onclick="window.location.href='/logIn'">Get Started</button>
      </div>
    </div>
 <!-------------Slider Container------------->
      <div class="slideshow-container flex">
        <div class="mySlides fade">
          <div class="numbertext">1 / 3</div>
          <img class="slider-img" src="https://miro.medium.com/max/10000/1*1phy_jB2vwCNmOOuANTrLw.jpeg" >
          <div class="text"></div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <img class="slider-img" src="https://cdn.thomasnet.com/insights-images/e56c54b5-efd7-4b8b-911b-abe299ecaaf3/small.jpg" >
          <div class="text"></div>
        </div>
        <div class="mySlides fade">
          <div class="numbertext">3/ 3</div>
          <img class="slider-img" src="https://www.michaelpage.co.uk/sites/michaelpage.co.uk/files/shutterstock_1439587874_600x387.jpg" >
          <div class="text"></div>
        </div>
        </div>
        <br>
        <div style="text-align:center">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
        </div>
        <br><br><br><br><br><br><br><br>
   </div>
   <div class="img-container flex">
     <button class="box1 c-btn" onclick="window.location.href='/main/Marketing'">Marketing</button>
     <button class="box2 c-btn"onclick="window.location.href='/main/Design'">Design</button>
     <button class="box3 c-btn" onclick="window.location.href='/main/Translation'">Translation</button>
     <button class="box4 c-btn" onclick="window.location.href='/main/Programming'">Programming</button>
   </div>
<br><br><br><br><br><br><br><br>
   <!--------------------------Header---------------------------->
    <div class="body-container flex">
      <div class ="b-img ">
        <img src="https://img.freepik.com/free-photo/business-people-shaking-hands-together_53876-20488.jpg?size=626&ext=jpg">
      </div>
      <div class ="b-pragraph flex"><p>Is a platform that connects professional freelancers with clients, It provides a wealth of expertise that gives more opportunities to freelancers to work.

        It also includes a range of fields, including translation, programming, designing and marketing. The value of the Access to Freelance service lies in encouraging clients to add as many projects as possible for local talents to work on and create opportunities for them to gain experience and earn money.
        
        The service offers an integrated environment for both professionals (freelancers) and there clintes , mainly with adding a ticket as clintts seeking for a freelancer, the freelacer submitting a proposal as comment on that ticket after clinte accept the freelancer propsal the clint can rate the service .</p></div>
    </div>
   <!--------------------------Footer---------------------------->
   <div class="footer">
    <h4>Coded By Epsilon Team</h4>
     <p> Manal & Asim & Njoud </p>

   </div>
</body>
<script src="./jquery-3.5.1.js"></script>
<script src="index.js"></script>
<!--     <script src="./index.js"></script>
 -->
    <!---  for mnue in the header -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>