<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/new_ticket.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="flex">
    <form action="/new_ticket_tk" class="flex" method="POST">
    
        <input type="text" name="subject" id="tiket-input-subject" placeholder="Subject">
        <textarea id="tiket-d" name="description" cols="50" rows="10" placeholder="Write Your Request"></textarea>

        <input type="text" id="tiket-input-img" name="img" placeholder="Image URL" >
        
        <label for="category" id="label-img" >choose category:</label>
        <input list="browsers" name="category" id="browser">
            <datalist id="browsers">
                <option value="Programming">
                <option value="Marketing">
                <option value="Translation">
                <option value="Design">
            </datalist>
        <br>
        <input type="submit" value="confirm" id="tiket-button">
    
                </form>
   
</body>
</html>