<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Request</title>
</head>
<body class="flex">

    

    <div class="header flex">
        <h1>Request</h1>
        <div class="btn-header flex">
          
         </div>
       </div>

<div class="v">
    <div class="bio-container flex">
        <div class="bio-img">
        <img src= <%= user.img %> alt="Profile Image">
         </div>
        <% if (user && user.email) { %>
            
        <div class="bio-discription ">
           <h1 class="h1-b">
             <%= user.name %>
          
                </h1>
                <p class="h1-b"> <%= user.bio %></p>
              
                <button  class="button"onclick="window.location.href='/EditProfile'">Edit Profile</button>
         </div>
       </div>
    </div>
 
    
       <!-- ==== Profile Buttons ==== -->
    <div class="topnav">
       
        <button id="1" class="button">Info</button>
        <% if (user.type == "1"){ %>
        <button id="2" class="button">Feedback</button>
        <button id="3" class="button">Last Sub</button>
    <% }%>
    </div>
          <div class="info-container">
          <div id = "info" class = "content">
              <h2>About Me</h2>
              <h3><%= user.heading %></h3>
          </div>
        <div id = "feedBack" class = "content">
            <h4 >Name<span> * * * **</span></h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus deserunt magni sequi repellendus veritatis ex vero facilis quae molestias blanditiis inventore qui dolor amet cumque, voluptatibus tenetur quo eaque hic!</p>
            <!-- ==== Stars Imgs ==== 
            <img src=".png" alt="Sub img"/> 
            -->
        </div>
        <div id = "lastSub" class = "content">
              <!-- ==== Sub Img ==== 
       <img src=".png" alt="Sub img"/> -->
   
        <h4 class="d">Last Sub </h4>
        <div class="d">


        </div>
    
    </div>
        <% } else { %>
            You're not logged in. </h2>
            <a href="/logIn">Log in</a>
          <% } %>
    <!-- Scripts -->
  
</body>
  <script src="./jquery-3.5.1.js"></script>
    <script src="./profile.js"></script>
</html>