<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Request</title>
</head>
<body>
    <div class="header">
        <img  src="https://ubisoft-avatars.akamaized.net/a3c1a636-db47-4751-941b-1acc538932de/default_256_256.png" alt="">
        <!-- ==== Name of User ==== -->
        <% if (user && user.email) { %>
        <h1>Hi <%= user.name %></h1>
    <hr>
            <% } else { %>
              You're not logged in. </h2>
              <a href="/logIn">Log in</a>
            <% } %>
      </div>
    
  
</body>
  <script src="./jquery-3.5.1.js"></script>
    <script src="./SeekerProfile.js"></script>
</html>