

/* ==== Img Style ==== */
.header img {
    float: left;
    width: 55px;
    height: 55px;
  }
  
  /* ==== User Name Style ====  */
  .header h1 {
    position: relative;
    top: 18px;
    bottom: 50px;
    left: 10px;
  }

/* ==== NAV Button Style ==== */
/* >>>>>>>>>> Left with Centralization */
.button {
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid #d60000; 
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 10px 2px;
  }

  /* ==== NAV Button Hover ==== */
  .button:hover {
    background-color: #b80000b9; 
        color: white;
      opacity: 1
}

/* Active Button */
.button:active {
    background-color: #b80000b9; 
    color: white;
  }

  button:focus{
    background-color: #b80000b9; 
    color: white;
}

/* Hides The Content */
.content {
    display: none;
}

