.hide {
    display: none;
  }
.clear {
  float: none;
  clear: both;
}
.stars {
  width: 100px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  margin-left: 30%;
  margin-bottom: 9%;
  margin-top: -20px;
}
.stars > label {
  float: right;
  display: inline-block;
    padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #000;
}
.stars > label:hover,
.stars > label:hover ~ label,
.stars > input.radio-btn:checked ~ label {
  color: rgb(216, 151, 54);
}
/* Rate Me Button */
.open-button {
  color: rgb(0, 0, 0);
  padding: 16px 20px;
  cursor: pointer;
  opacity: 0.8;
  position: fixed; /* or absolute */
  top: 43%;
  left: 31%;
  background-color: #0f3057;
  color: white;
  border-radius: 16px;
  width: 40%;
  box-shadow: 0 0 5pt 2pt #D3D3D3;
  border: none;
  font-weight: bold;
}
/* The Popup Window */
.form-popup {
  display: none;
  position: fixed;
  bottom: 9px;
  right: 15px;
    border: 3px solid #f1f1f1;
  z-index: 9;
}
/* Form Container */
.form-container {
  max-width: 100%;
  padding: 10px;
  background-color: white;
}
/* Input Fields */
.form-container input[type=text] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}
/* Confirm Button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
/* Cancel Button */
.form-container .cancel {
  background-color: red;
}
/* Buttons Hover*/
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
/* For Comment */
.comm{
  display: inline-block;
  margin-top: 13px;
}